@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}
h1 {
  margin: 0;
  padding: 0;
}
nav,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.border-block {
  border: 1px solid black;
}
.wrapper {
  width: 1397px;
  margin: 0 auto;
}
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 112px;
  gap: 20px;
}
.header-link {
  display: inline-block;
  margin: 0 25px;
  padding: 15px 44px;
  background-color: #fb4b4d;
  color: white;
}
.nav-item {
  padding: 15px 44px;
  color: black;
}
.block {
  margin-top: -1px;
}
.hero {
  display: flex;
  flex-direction: row;
}
.hero-left {
  width: 50%;
  border-right: 1px solid black;
}
@keyframes scroll {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.line {
  display: flex;
}
.line-item {
  display: flex;
  align-items: center;
  animation: 5s linear infinite scroll;
}
.img-papper {
  width: 64px;
}
.line-subtitle {
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  padding: 7px 0;
}
.line-item::before {
  content: url(img/papper.svg);
  margin-right: 20px;
  margin-left: 30px;
}
.hero-img-cactus {
  padding: 20px;
}
.hero-title {
  border-bottom: 1px solid black;
  padding: 20px 80px;
  font-size: 58px;
  line-height: 65px;
  text-align: center;
}
.hero-img-hand {
  padding: 20px;
}
.products-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 30px;
  border-bottom: 1px solid black;
}
.products-head::before {
  content: url(img/scorpio-first.svg);
}
.products-head::after {
  content: url(img/scorpio-second.svg);
}
.products-title {
  margin: 0 auto;
  max-width: 785px;
  font-size: 65px;
  line-height: 73px;
  text-align: center;
}

.products-decorate {
  position: absolute;
  width: 1397px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
.products-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}
.products-subtitle {
  margin: 0 0 14px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.products-zag {
  margin: 0 0 14px;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}
.products-img-sause {
  width: 380px;
}
.products-card {
  display: flex;
  flex-direction: column;
  min-height: 658px;
  padding: 100px 28px 22px;
  justify-content: flex-end;
  background-image: url(img/background.svg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.products-img-bigsauce {
  padding: 20px;
}
.story {
  display: flex;
}
.story-left {
  border-right: 1px solid black;
}
.story-title {
  margin: 0 auto;
  padding: 50px 75px;
  font-size: 58px;
  line-height: 65px;
  text-align: center;
}
.story-left::after{
    content: url(img/girl.jpg);
}
.story-right {
  padding-top: 125px;
  padding-bottom: 125px;
  background-image: url(img/story-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
}
.story-text {
  padding: 0 152px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.banner-img {
  position: relative;
  display: block;
  margin-top: -180px;
  width: 100%;
  z-index: -1;
}
.footer-container {
  background-color: #cdfd3b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-text {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: black;
}
